Page{
    padding: 0 20;
}

.logo{
    horizontal-align: center;
    vertical-align: center;
    margin: 20 0;
}

.option-text{
    width: 70%;
}

.option-button{
    width: 30%;
}

.meta{
    margin-top: 10;
}